body{
    background-color: blue;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
    
}
/*FIX THE GRID PARA QUE SE VEA BIEN TIENE QUE ESTAR SIMÉTRICO*/
.main{
    max-width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

